
body{
    background: rgb(245,231,247);
background: -moz-linear-gradient(120deg, rgba(245,231,247,1) 12%, rgba(230,116,247,1) 47%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(120deg, rgba(245,231,247,1) 12%, rgba(230,116,247,1) 47%, rgba(255,255,255,1) 100%);
background: linear-gradient(120deg, rgba(245,231,247,1) 12%, rgba(230,116,247,1) 47%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5e7f7",endColorstr="#ffffff",GradientType=1);
}


.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



h1 {
    color: pink;
    font-family: "Poppins", sans-serif;
}

h2 {
    background-color: antiquewhite;
    color: rgb(255, 0, 166);
}

h3 {
    background-color: blueviolet;
    color: rgb(255, 0, 166);
}
p{
    color:blueviolet;
    text-decoration-style: dotted;
}




/*Media Queries*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }