
/*fuente personalizada*/
.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}


*{
	margin: 2px;
	
 
}

#back-to-top {
	position: fixed;
	bottom: 2%;
	right: 2%;
	/* global 92%+ browsers support */
	/*background: radial-gradient(circle at 50% 50%, #E999FF 0%, #AD81FA 100%);*/
	padding: 1px;
	border-radius: 50px;
	text-decoration: none; 
	font-size:25px;
  
  }


  #back-to-top-full {
	position: fixed;
	bottom: 2%;
	/*right: 2%;*/
	/* global 92%+ browsers support */
	/*background: radial-gradient(circle at 50% 50%, #E999FF 0%, #AD81FA 100%);*/
	padding: 1px;
	border-radius: 50px;
	text-decoration: none; 
	font-size:25px;
  
  }


a {
	
	text-decoration:none !important;
	}

body{
	
	background-image: url(images/Background.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/* global 94%+ browsers support */
    /*background: linear-gradient(136deg, #ffb5ff 0%, #BCA0C4 49%, #887CEA 94%);*/
	
}


h1 {
		color: #8B51A5;
		font-family: "Poppins", sans-serif;
}

h2 {
	background-image: linear-gradient(to right top, #bcb5f7, #c1baf5, #c6bff2, #cbc4f0, #cfc9ed, #d3ceed, #d8d4ee, #dcd9ee, #e1dff1, #e7e6f4, #ececf7, #f2f2fa);
		color: #FFD700;
	/*width: 98%;*/
	width:auto;
	align-content: center;
	text-align: center;
	
}

h3 {
	background-image: linear-gradient(to right top, #bcb5f7, #c1baf5, #c6bff2, #cbc4f0, #cfc9ed, #d3ceed, #d8d4ee, #dcd9ee, #e1dff1, #e7e6f4, #ececf7, #f2f2fa);
		color: rgb(255, 0, 166);
	/*width: 98%;*/
	width:auto;
	align-content: center;
	text-align: center;
}

p{
		color:#4A148C;
		text-decoration-style: dotted;
}


.banner-img {
	width:99%;
	display: block;
	padding: 10px;
	align-items: center;
	text-align: center;
	border-radius: 15px;
}


.banner-landing{
	background-image: linear-gradient(to bottom, #b9adeb, #c4bbea, #cec9e8, #d9d6e6, #e4e4e4);
	margin: 0; 
    padding: 0;
	width:auto;
}

.banner-sales{
height:120px;
/* global 94%+ browsers support */
background: linear-gradient(271deg, #B9ADEB 14%, #7768B5 76%);
display: flex;
align-items: center; 
justify-content: center; 
margin: 0; 
padding: 0;
}

.container-fluid {
	padding: 0 10px; 
  }
  
  .d-flex.ms-auto {
	justify-content: flex-end; 
  }

.banner-sales a{
	color:#0d0d0d !important;
	font-size: medium;
	font-weight: 500;
	text-decoration: none;
	width:auto;
	}

.logo-img {
	display: block;
	margin: 5px auto; 
	padding: 5px; 
	text-align: center;
	border-radius: 15px;
}



.carousel-inner img {
	
	max-width: 500px; 
	height: auto; 
	margin: 0 auto; 
	border-radius: 6px;
}

.carousel-item img {
	width: 100%; 
	height: 450px; 
	object-fit: contain; 
	background-color: linear-gradient(176deg, #bdb4ff 0%, #d6d0fb 54%);
  }

 
.form-container {
	width: 90%;
   /*max-width: 1400px;*/ 
    margin: 0 auto;    
    padding: 20px;     
    border-radius: 15px; 
    border: 1px solid #ccc; 
	background: #bdb4ff;
	background: linear-gradient(176deg, #bdb4ff 0%, #d6d0fb 54%); 
}

.form-container .form-control {
    width: 100%; 
}

.btn-light {
    display: block;
    width: 100px;
    margin: 20px auto 0 auto; 
}

.sitemap ul {
    list-style-type: none;
    padding-left: 0; 
}

.sitemap{
	background-image: linear-gradient(to top, #b9adeb, #c4bbea, #cec9e8, #d9d6e6, #e4e4e4);
	/*width:100%;*/
	width:auto;
	margin-top: 3px; 
	padding: 20px 0;
}
.sitemap li {
    margin-bottom: 5px; 
}

.sitemap .col ul li {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin: auto; 
}


.sitemap h6 {
    color:#3e1969; 
	text-align: justify;
}

.sitemap a {
	font-weight:300;
	color: #0c479f;
	
	}


.payment-method {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 0;
    list-style: none; 
    justify-content: center; 
}

.payment-method li {
    display: flex;
}

.payment-method img {
    width: 32px; /* Tamaño base de los íconos */
    height: 32px;
}



.container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.col {
    flex: 1; 
    min-width: 200px; 
    margin: 10px; 
}

h4 {
    margin-bottom: 10px; 
}

ul {
    list-style-type: none; 
    padding: 0; 
}

ul li {
    margin: 5px 0; 
}

footer {
	background-color: #b9adeb;
 /* background-color: #bca0c4;*/
  text-align: center !important; 
  /*padding: 20px 0;*/ 
  margin-top: 3px; 
  color: #fff; 
  font-size: 12px; 
  width:auto;
  text-align: justify;
}

footer p {
  margin: 0; 
  font-family: "Poppins", sans-serif;
  font-size:xx-small; 
}


/*estilo de cajas de productos*/
/* Estilos del contenedor principal */
.product-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 10px;
	padding: 10px;
}

.product-link {
    display: block;
    text-decoration: none; 
    color: inherit; 
}


/*iconos*/

/* icono billete */
.cash-icon {
    width: 36px;
    height: 36px;
    fill: #4c3b8d;
}

/* icono fav */
.heart-icon {
    position: absolute;
    top: 3px;
    left: 45%;
    width:20px;
	height: 20px;
    color: #ff4b5c;
    cursor: pointer;
}


/* Estilo pagina en construccion*/

.center-content-buildpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*min-height: 100vh;*/
	text-align: center;
  }
  
.move-img {
	display: block;
	margin: 5px auto; 
	padding: 5px; 
	border-radius: 15px;
	animation: float 3s ease-in-out infinite;
  }


  /* Definición de la animación imagen*/
    @keyframes float {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-10px);
	}
  }
 
  
  /* Animación de texto */
  .move {
	animation: fade 2s ease-in-out infinite;
	font-style: italic;
  }
  .move p span {
	display: block; 
	width: 100%;
	text-align: center;
	font-size:larger;
	font-weight: bold;
  }
  /* Definición de la animación de texto */
  @keyframes fade {
	0%, 100% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.5;
	}
  }


/* Estilos de las tarjetas de los productos*/
.product {
    /*display: grid;*/
	display: flex;
	flex-direction: column;
    grid-template-rows: auto 1fr auto auto;
    /*width: 300px;*/
	width: calc(25% - 40px);
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
	position: relative;
    box-shadow: 0 4px 8px #0000001a;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product h5 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #6c757d;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ad0654; 
}

.fees {
    font-size: 0.8rem;
    color: #6d5252; 
}
.product button {
    background-color: #4c064e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
	pointer-events: all;
	transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #704272;
	box-shadow: 0 8px 16px #0e0a0ab0;

}

.product:hover {
    box-shadow: 0 4px 8px #07010833; /*sombrerado al pasar el cursor */
	transform: scale(1.0);
	transition: transform 0.2s ease-in-out;
}

.buttons-card {
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

.buttons-card button {
    flex: 1; /* Hace que ambos botones ocupen el mismo ancho */
    padding: 10px;
}



/*sección reseñas*/

.reviews-section {
	padding: 50px 20px;
	background-color: #f9f9f9; 
	text-align: center;
	border-radius: 16px;
  }
  
  .reviews-section h2 {
	font-size: 2rem;
	margin-bottom: 30px;
	color: #333;
  }
  
  .reviews-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
	gap: 20px;
  }
  
  .review {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .review:hover {
	transform: scale(1.05); 
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .review p {
	font-size: 1rem;
	color: #555;
  }
  
.map{
	width:90%;
	display: flex;
}

/*login*/
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	max-width: 800px;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px;
  }

  
  #formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	/*background: #fff;*/
	background: linear-gradient(176deg, #bdb4ff 0%, #d6d0fb 54%);
	padding: 30px;
	width: 90%;
	max-width: 500px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
  }

  #formContentRegister {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	/*background: #fff;*/
	background: linear-gradient(176deg, #bdb4ff 0%, #d6d0fb 54%);
	padding: 30px;
	width: 90%;
	max-width: 700px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	
  }
  
  #formFooter {
	background: linear-gradient(176deg, #bdb4ff 0%, #d6d0fb 54%);
	/*background-color: #f6f6f6;*/
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
	color: #cccccc;
  }
  
  h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #d95fe9;
  }
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
	background-color: #8475f0;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 #d6d0fb;
	box-shadow: 0 10px 30px 0 #d6d0fb;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
	background-color: #3e1969;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
  }
  
  input[type=text] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 98%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
	background-color: #fff;
	border-bottom: 2px solid #c98afd;
  }
  
  input[type=text]:placeholder {
	color: #cccccc;
  }
  
 
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
  
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
  }
  
  .fadeIn.first {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
  }
  
  .fadeIn.second {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
  }
  
  .fadeIn.third {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #56baed;
	content: "";
	transition: width 0.2s;
  }
  
  .underlineHover:hover {
	color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
	width: 100%;
  }
  
  
  /* OTHERS */

  *:focus {
	  outline: none;
  } 
  
  * {
	box-sizing: border-box;

	}


/*Media Queries*/
/*XX-small devices (vertical phones, 320px and up)*/
@media (min-width: 320px) {
	.banner-img {
		/*max-width: 360px;*/ 
		width: 90%;
		padding: 2%;
		margin:  5%;
}
p {
	font-size: 14px; 
	word-wrap: break-word;
	width: 90%; 
	padding: 10px; 
	text-align: justify;
}

.product {
	width: calc(100% - 20px); 
	margin: 10px auto;
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 23%;
	font-size:27px;
  
  }
}



/*X-small devices (vertical phones, 480px and up)*/
@media (min-width: 480px) {
	.banner-img {
		width: 90%;
		padding: 2%;
		margin:  4%;
}
p {
	font-size: 16px;
	padding: 10px;
	text-align: justify;
}

.product {
	width: calc(100% - 40px); 
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 22%;
	font-size:26px;
  
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.banner-img {
		max-width: 750px; 
}
p {
	font-size: 18px;
	padding: 10px;
	text-align: justify;
}

.col-12.col-md-6 {
	max-width: 100%;
	margin-bottom: 20px;
}
.product {
	width: calc(50% - 20px); /* Dos columnas */
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 10%;
	font-size:26px;
  
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.banner-img {
		max-width: 950px; 
}
.product {
	width: calc(50% - 40px); 
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 0%;
	font-size:26px;
  
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.banner-img {
		max-width: 1000px; 
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 0%;
	font-size:26px;
  
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.banner-img {
		max-width: 1300px; 
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 0%;
	font-size:26px;
  
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.banner-img {
		max-width:1765; 
}

#back-to-top-full {
	position: fixed;
	bottom: 2%;
	right: 0%;
	font-size:26px;
  
  }
}

